.MAIN{
    background: #744d4d;
}
.Header{
    display: flex;
    flex-direction: row;
    background-color: greenyellow;
    color: blue;
    height: 40px;
    margin: 6px;
    align-items: center;
    justify-content: space-around;
}
.MainDiv{
    display: inline-flex;
    background-color: bisque;
    align-items: flex-start;
    height: auto;
    margin: 6px;
}
.LeftDiv{
    background-color: hotpink;
    margin: 6px;
}
.Head{
    align-items: center;
    display: flex;
    background-color: #c28772;
    justify-content: center;
    color: rgb(115, 41, 184);
    margin: 6px;
}
.Para{
    background-color: rgb(52, 185, 238);
    width: auto;
    color: inherit;
    margin: 6px;
}
.RightDiv{
    background-color: darkgray;
    margin: 6px;
}
.Points{
    background-color: azure;
    align-items: baseline;
    display: flex;
    justify-content: space-around;
    margin: 6px;
    color: cornflowerblue;
}
.List
{
    color: rgb(75, 25, 25);
    display: flex;
    flex-direction: column;
    margin: 6px;
    background-color: #83eaea;
    justify-content: left;
}
.Footer{
    display: flex;
    flex-direction: row;
    background-color: yellow;
    align-items: center;
    justify-content: center;
    color: blue;
    height: 40px;
    margin: 6px;
}
.cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    max-height: auto;
    background-color: rgb(49, 46, 212);
    margin: 6px;
}
.cards img {
    margin: 10px;
    border: 3px solid rgb(250, 16, 16);
    box-shadow: 8px 11px 8px 0px rgb(0 0 0 / 30%);
    max-width: 21vw;
}



